/*
https://superuser.com/questions/361297/what-colour-is-the-dark-green-on-old-fashioned-green-screen-computer-displays

https://isotropic.co/tool/hex-color-to-css-filter/

http://aleclownes.com/2017/02/01/crt-display.html
*/

* {
  border-color: #33FF00;
  color: #33FF00;
}
body {
  background-color: #282828;
}

/*  */
body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /* animation: flicker 2s infinite; */
}
body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

button {
  border: 1px solid #33FF00;
  background: rgba(0,0,0,0);
  color: #33FF00;
}

button:hover {
  color: #282828;
  background-color: #33FF00;
}

.border {
  border-color: #33FF00;
}

img {
  filter: invert(53%) sepia(83%) saturate(630%) hue-rotate(64deg) brightness(115%) contrast(122%);
}

header {
  border-color: #33FF00;
}

button {
  padding: 0em .5em;
}

.links a {
  color: #33FF00;
  /* padding:  .25em; */
}

.selected {
  color: #282828 !important;
  background-color: #33FF00 !important;
}

.subtle {
  color: rgb(0, 150, 0);
}